/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://joryxnz.github.io/PS5/base05_moth4.gif);
    height: 614px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(https://joryxnz.github.io/PS5/disconnected05_moth.png);
}

.ds4 .touchpad {
    width: 312px;
    height: 172px;
    position: absolute;
    left: 248px;
    top: 107px;
}

.ds4 .touchpad.pressed {
    background: url(https://joryxnz.github.io/PS5/touchpad05_moth.png) no-repeat;
}

.ds4 .arrows {
    position: absolute;
    width: 384px;
    height: 46px;
    top: 147px;
    left: 211px;
}

.ds4 .back, .ds4 .start {
    background: url(https://joryxnz.github.io/PS5/select05_moth.png) no-repeat;
    width: 22px;
    height: 35px;
    opacity: 0;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    /* width: 28px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    transform: rotateY(180deg);
}

.ds4 .triggers {
    width: 577px;
    height: 90px;
    position: absolute;
    left: 115px;
    top: 29px;
}

.ds4 .trigger {
    width: 99px;
    height: 100%;
    background: url(https://joryxnz.github.io/PS5/triggers05_moth.png);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
    left: calc(100% - 12px);
}

.ds4 .bumper {
    width: 105px;
    height: 37px;
    background: url(https://joryxnz.github.io/PS5/bumper05_moth.png) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 588px;
    height: 37px;
    left: 109px;
    top: 101px;
}

.ds4 .bumper.pressed {
    opacity: 1;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
    left: calc(100% - 1px);
}

.ds4 .meta {
    width: 52px;
    height: 40px;
    position: absolute;
    left: 377px;
    bottom: 246px;
}

.ds4 .meta.pressed {
    background: url(https://joryxnz.github.io/PS5/meta2.png) no-repeat center;
}

.ds4 .dpad {
    position: absolute;
    width: 126px;
    height: 127px;
    top: 190px;
    left: 93px;
}

.ds4 .face {     
  background: url(https://joryxnz.github.io/PS5/dpad05_moth.png);
  position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 49px;
    height: 59px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 59px;
    height: 49px;
}

.ds4 .face.up {
    left: 44px;
    top: -8px;
    background-position: -49px 0px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 35px;
    left: 1px;
    background-position: 132px 0;
}

.ds4 .face.right {
    top: 35px;
    right: -10px;
    background-position: 72px 0px;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 61px;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 164px;
    left: 560px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://joryxnz.github.io/PS5/face05_moth.png);
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 1px;
    left: 57px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 57px;
    left: 1px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 57px;
}

.ds4 .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 232px;
}

.ds4 .stick {
    position: absolute;
    background: url(https://joryxnz.github.io/PS5/sticks05_moth.png);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 112px);
}


/*END PS4 Controller Styling*/

.raw-outputs {
    display: none;
}

.raw-outputs.active {
    display: block;
}

.raw-outputs li {
    display: inline-block;
    min-width: 40px;
    text-align: right;
    padding: 20px 5px 5px 10px;
    background: deepskyblue;
    box-sizing: border-box;
    position: relative;
    margin: 0 5px 5px 0;
    opacity: .6;
}

.raw-outputs li.disabled {
    background: orangered;
}

.raw-outputs li:before {
    content: attr(data-shortname);
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 3px;
    left: 4px;
}

#mapping-config .form-group {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

#mapping-config #mappings select {
    font-size: inherit;
}

#mapping-config #mappings .form-group > select {
    display: none;
}

#mapping-config #mappings button {
    flex-grow: 1;
    margin: 0 5px 0px 14px;
    transition: .4s ease-out;
    position: relative;
}

#mapping-config #mappings .form-group > button + button {
    display: none;
    margin: 0 5px 0px 0px;
}

#mapping-config #mappings [data-tooltip]:after {
    opacity: 0;
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    background: orangered;
    color: white;
    padding: 4px;
    border-radius: 23px;
    transition: .3s ease-out;
    white-space: nowrap;
}

#mapping-config .template {
    display: none;
}

#mapping-config .map-control {
    font-size: 24px;
    padding-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

#mapping-config .map-control i {
    vertical-align: top;
}

#mapping-help.map-control {
    float: right;
}

#mapping-help.map-control:after {
    display: block;
    clear: both;
}

#mapping-config .form-group .material-icons {
    color: black;
    transition: .4s ease-out;
    opacity: .5;
    text-decoration: none;
    font-size: 37px;
    line-height: normal;
    vertical-align: bottom;
}

#mapping-config .form-group .material-icons:hover {
    opacity: 1;
}

#mapping-config .add-config:hover {
    color: green;
}

#mapping-config .del-config:hover {
    color: red;
}

#mapping-config input[type=radio], #mapping-config .disable-item {
    margin-right: 70px;
    display: inline-block;
    width: 0px;
    height: 23px;
    font-size: inherit;
    opacity: .5;
    transition: .4s ease-out;
}

#mapping-config input[type=radio][value=axes] {
    margin-right: 50px;
}

#mapping-config input[type=radio][value="dpad"] {
    margin-right: 36px;
}

#mapping-config select{
    margin-left: 6px;
}

#mapping-config input[type=radio]:checked, #mapping-config .disable-item:checked {
    opacity: 1;
}

#mapping-config #mappings .disable-item:checked ~ button {
    opacity: .5;
    pointer-events: none;

}

#mapping-config input[value="buttons"]:after, #mapping-config input[value="axes"]:after, #mapping-config input[value="dpad"]:after, #mapping-config .disable-item:after {
    display: inline-block;
    background: orangered;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

#mapping-config input[value="buttons"]:after {
    content: "Button";
}

#mapping-config input[value="axes"]:after {
    content: "Axis";
}

#mapping-config input[value="dpad"]:after {
    font-family: "Material Icons";
    content: "gamepad";
    font-size: 23px;
}

#mapping-config .disable-item:after {
    content: "Disable";
}

#mapping-config .axes-config:after {
    font-family: inherit;
    content: "check_box_outline_blank";
    line-height: inherit;
    cursor: pointer;
}

#mapping-config .axes-config:checked:after {
    content: "check_box";
}

#mapping-config .axes-config {
    width: 37px;
    height: 0;
    padding: 0;
    margin: 0;
    outline: none;
}

#mapping-config .axes-config:checked {
    opacity: 1;
}

#mapping-config .axes-config {
    order: -1;
}

#mapping-config #mappings input[value="buttons"]:checked ~ select[name="buttons"], #mapping-config #mappings input[value="axes"]:checked ~ select[name="axes"] {
    display: inline-block;
}

#mapping-config #mappings .fix-panel {
    display: none;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
}

#mapping-config #mappings .fix-panel span {
    line-height: 37px;
    margin-right: 5px;
    font-size: inherit;
}

#mapping-config #mappings .fix-axes, #mapping-config #mappings .fix-dpad li{
    height: 37px;
}

#mapping-config #mappings .fix-dpad li{
    display: flex;
    margin-bottom: 5px;
    justify-content: flex-end;
}

#mapping-config #mappings .fix-dpad{
    flex-direction: column;
}

#mapping-config #mappings .fix-dpad button {
    max-width: 655px;
}

#mapping-config #mappings .axes-config:checked ~ .fix-axes, #mapping-config #mappings input[type=radio][value=dpad]:checked ~ .fix-dpad{
    display: flex;
}

#mapping-config #mappings .axes-config:checked ~ button:nth-of-type(2) {
    display: none !important;
}

#mapping-config #mappings input[value="dpad"]:checked ~ .axes-config, #mapping-config #mappings input[value="dpad"]:checked ~ .fix-axes{
    display: none;
}

#mapping-config #mappings input[value="axes"]:checked ~ .axes-config:not(:checked) ~ [data-tooltip]:hover:after, #mapping-config #mappings .fix-axes [data-tooltip]:hover:after {
    opacity: 1;
    top: -28px;
}

#mapping-config #mappings input[value="axes"]:checked ~ button:nth-of-type(2) {
    display: block;
}

#mapping-config #mappings .map-message {
    width: 100%;
    display: none;
    order: -2;
    background: darkgreen;
    color: #F2F2F2;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#mapping-config #mappings .map-message.error {
    display: block;
    background: hsla(0,86%,50%,1);
}

#mapping-config #mappings .map-message.success{
    display: block;
    animation: 4s msg-animation forwards;
}

#mapping-config .button-group button {
    float: right;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    background: orangered;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#mappings:empty + div {
    display: none;
}
