/BEGIN PS4 White Controller Styling/ 

.controller.ds4.white {     
  background: url(https://imgur.com/VBnd4Nd.gif); 
  height: 598px;
  width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/

}  
/*
.ds4.white.disconnected {     
background: url(ps4-assets/disconnected.svgz); }  

.ds4.white .trigger {     
background: url(https://imgur.com/TGkOEru.png); }  

.ds4.white .bumper {     
background: url(https://imgur.com/wVMZ4Bf.png); }  

.ds4.white .touchpad.pressed {     
background: url(ps4-white-assets/touchpad.svgz); }  

.ds4.white .back, .ds4 .start {     
background: url(ps4-white-assets/start.svgz); }  

*/.ds4.white .button {
  position: absolute;
  width: 55px;
  height: 55px;
  background: url(https://imgur.com/XAUKDbc.png);
}

.ds4.white .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */

}
/*
.ds4.white .stick {
  position: absolute;
  background: url(https://imgur.com/n9dk64u.png);
  height: 94px;
  width: 94px;
}

.ds4.white .face {     
background: url(ps4-white-assets/dpad.svgz); }  

/END PS4 White Controller Styling/
*/
/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://imgur.com/VBnd4Nd.gif);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(https://joryxnz.github.io/PS4/disconnected04_red.png);
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://joryxnz.github.io/PS4/face04_red.png);
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 58px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 58px;
}

.ds4 .stick {
    position: absolute;
    background: url(https://joryxnz.github.io/PS4/sticks04_red.png);
    height: 94px;
    width: 94px;
}

/*END PS4 Controller Styling*/
