/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://darkatt.github.io/PS4/base04_pink.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(https://darkatt.github.io/PS4/disconnected04_pink.png);
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://darkatt.github.io/PS4/face04_pink.png);
}

.ds4 .stick {
    position: absolute;
    background: url(https://darkatt.github.io/PS4/sticks04_pink.png);
    height: 94px;
    width: 94px;
}

/*END PS4 Controller Styling*/
